*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 90px;
    background-color: grey;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 48px;
    width: 120px;

}
.logo{
    background-image: url("google.png");
    background-size: cover;
    height: 48px;
    width: 100%;

}
.border{
    border: 2px solid transparent ;
}
.border:hover{
    border: 2px solid white;
}
/**box2*/
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-sec{
    font-size: 1rem;
    margin-left: 3px;
    color: #cccccc;
    background-color: gray;
}
.add-icon{
    display: flex;
    
}
/**box3*/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 746px;
    height: 38px;
    border-radius: 9px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    border: none;
    
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.2rem;
    color: #f5480e;
}
/**box4 */
.nav-signup{
    display: flex;
    color: white;
    background-color: gray;
    text-decoration: wavy;
    margin-left: 3px;
}
.user-icon{
    font-size: 1.2rem;
    align-items: center;
    display: flex;
    justify-content: center;
}
.nav-login{
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-left: 3px;
    color: white;
    text-decoration: wavy;

    background-color: gray;
}
.nav-line{
    margin-left: 10px;
    display: flex;
    align-items: center;
    color: white

}
.nav-login:hover{
    
}

/**box5 */
.nav-langicon{
    display: flex;
}
.nav-lang{
    display: flex;
    margin-left: 3px;
}
.nav-lang:hover{

}
/**box6*/
.nav-cart{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    color: white ;
    text-decoration: wavy;
}
/**line2 box1*/
.pannel{
    
    height: 18px;
    width: 100%;
    
    background-color:gray ;
    display: flex;
    margin-right: 3px;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.8rem;
}
.menu-icon{
    margin-right: 3px;
}
.pannel-all{
    margin-right: 5px;
    display: flex;
}

.pannel.ops {
    display: inline;
    margin-left: 3px;
    margin-right: 3px;
}
.savemore-logo{
    margin-left: 40%;
    background-image: url(fdd.png)
    background-size: 20px;
;
    

}
/**main section*/
.main-section{
    background-image: url(./assets/beauty.jpg);
    background-size: cover;
    height: 260px;
    display: flex;
}
.headline{
    display: flex;
    justify-content: space-evenly;
    background-color: gray;
    color: white;
    height: 30px;
    align-items: center;
}
.price{
    display: flex;
}
.pricelogo{
    margin-right: 3px;
    color: #f5480e;
    font-size: 1.4rem;
}
.payement{
    display: flex;
    align-items: center;
}
.paylogo{
    margin-right: 3px;
    color: aqua;
    font-size: 1.4rem;
}
.delivery{
    display: flex;
    align-items: center;
}
.deliverlogo{
    margin-right: 3px;
    color: rgb(147, 90, 9);
    font-size: 1.4rem;
}
.return{
    display: flex;
    align-items: center;
}
.returnlogo{
    margin-right: 3px;
    font-size: 1.4rem;
    color: green;
}
.authentic{
    display: flex;
    align-items: center;

}
.authlogo{
    margin-right: 3px;
    font-size: 1.4rem;
    color: blueviolet;
}
.verified{
    display: flex;
    align-items: center;
}
.darazlogo{
    margin-right: 3px;
    font-size: 1.4rem;
    color: pink;
}
/**shop section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(245, 200, 208);
}
.box{
    border: 2px ;
    justify-content: space-evenly;
    height: 350px;
    width: 23%;
    background-color: white;
    padding: 20 0 15;
    margin-top: 15px;
    margin-bottom: 15px;
}
.box1-image{
    height:300px;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
    
}
.box-content p{
    color: #007185;
}
/**foot-pannel*/

footer{
    margin-top: 15px;
}
.foot-pannel1{
    background-color: #37475a;
    color: white;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;

}
.foot-pannel2{
    background-color: #222f3d;
    color: white;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul div {

    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;}
    {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 100px;
}
.alert {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(0, 200, 255);
    color: white;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    z-index: 1000;
    margin-top: 8%;
}

.alert.show {
    display: block;
}

